body
{
background-color:#CCCCCC;
}
.txt
{
	width:225px;
	height:35px;
	border:silver 1px solid;
	background-color:#f5f5f5;
	color:dodgerblue;
	border-radius:5px;
	box-shadow:inset 3px 3px 10px black;
	-moz-transition:1s;
}
.txt:hover
{
	background-color:#FFFF00;
	border:1px dotted #FF0099;
	box-shadow:3px 3px 10px red;
}

.txt:focus
{
	box-shadow:5px 5px  5px green;
}
.font
{
font:"Times New Roman", Times, serif;
}
.btn
{
	width:120px;
	height:40px;
	background-color:dodgerblue;
	color:white;
	border:1px solid black;
	margin:10px;
	border-radius: 100px;
	-moz-transition:1s;
	box-shadow:inset 5px 5px 10px black;
}
.btn:hover
{
	background-color:green;
	height:50px;
}