.main
{
	width:1000px;
	height:600px;
	border:1px solid gray;
	margin:auto;
}
.header
{
	width:1000px;
	height:130px;
	background-color:dodgerblue;
}
.content
{
	width:1000px;
	height:440px;
	 
}
.footer
{
	width:1000px;
	height:30px;
	background-color:dodgerblue;
}
.left
{
	width:850px;
	height:440px;
	VERTICAL-align:top;
	
}
.right
{
	width:150px;
	height:440px;
	background-color:silver;
	vertical-align:top;
}
