@charset "utf-8";
/* CSS Document */
*
{
		padding:0px;
		margin:0px;
}	
.tbl
{
	margin:auto;
 	border:1px solid skyblue;
	color:gray;
	 
		
		
}
.tbl td
{
	padding:10px;	
}
input[type="text"],input[type="password"],select,file
{
	width:200px;
	height:35px;
	border:1px solid skyblue;	
}
textarea
{
	width:200px;
	height:100px;
	border:1px solid skyblue;	
}
.btnreg
{
	width:100px;
	height:40px;
	background-color:violet;
	color:white;
	border:1px solid black;
}
.header
{
	width:100%;
	height:50px;
	background-color:skyblue;
	margin-bottom:20px;
}
.footer
{
	width:100%;
	height:50px;
	background-color:skyblue;
	margin-top:20px;
}
.nav
{
	list-style:none;
	float:right;
	margin-right:20px;	
}
.nav li
{
	display:inline-block;
	margin:10px;	
}
.nav li a
{
	color:white;
	text-decoration:none;	
}
.btn
{
	width:100%;
	height:30px;
	background-color:violet;
	color:white;
	border:1px solid black;
	display:block;
	text-align:center;
	text-decoration:none;
 
}

.prodiv
{
	width:900px;
	min-height:300px;
	border:1px solid black;
	margin:auto;
}
.prodiv div
{
		width:20%;
		height:150px;
		border:1px solid black;
		margin:10px;
		display:inline-block;
		opacity:.5;
		border-radius:20%;
}
.prodiv div:hover
{
	opacity:1;
	box-shadow:2px 2px 5px black;	
}
.prodiv div h1
{
	width:90%;
	background-color:skyblue;
	color:white;
	text-align:center;
	font-size:20px;
	text-align:center;
	border-radius:50%;
	margin:auto;
}
.prodiv div img
{
	width:90%;
	height:90px;
	padding-left:4%;
	border-radius:20%;
	margin:auto;
	
}
 .prodiv div a
{
	width:60%;
	height:20px;
	padding-top:5px;
	background-color:skyblue;
	color:white;
	text-align:center;
	font-size:14px;
	text-align:center;
	display:block;
	border-radius:40%;
	margin:auto;	
}