
body
{
	/*background-image:url(design/bg.gif);*/
	background-color:#CCC;
	background-repeat:no-repeat;
	background-size: 100% 100%;	
}
.main
{
	width:1100px;
	height:auto;
	margin:auto;
}
.header
{
	background-image:url(design/header.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:1100px;
	height:170px;
	border-radius:30px;
	box-shadow:inset 3px 3px 10px;
}
.manu
{
	background-image:url(design/nav-bottom.gif);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:1100px;
	height:230px;
	border-radius:30px;
	box-shadow:inset 3px 3px 10px;
	margin-top:5px;
}
.content
{
	
	width:1100px;
	height:auto;
	 
}
.footer
{
	background-image:url(design/nav-bottom.gif);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:1100px;
	height:50px;
	border-radius:30px;
	box-shadow:inset 3px 3px 10px;
}

.left
{
	background-image:url(design/separator.gif);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:750px;
	height:auto;
	VERTICAL-align:top;
	border-radius:30px;
	box-shadow:inset 3px 3px 10px;
	
}
.right
{
	background-image:url(design/separator.gif);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:350px;
	height:auto;
	background-color:silver;
	vertical-align:top;
	border-radius:30px;
	box-shadow:inset 3px 3px 10px;
}
#nav{
	list-style:none;
	margin-top:7px;	
	position: absolute;
	width: 1000px;
    height: 67px;
	text-align:center;
}
#nav li{
	float:left;
	margin-top:17px;
	margin-left:73px;
	position:relative;
}
#nav a{
	display:block;
	text-decoration:none;
}
#nav ul{
	list-style:none;
	position:absolute;
	 left:-9999px;
	 background-color:#066;
	 width:210px;
	 margin-top:0px;
	 height:80px;
	 border:solid #9CC;
	 box-shadow:inset 5px 5px 13px black;	
}
#nav ul li{
	padding-top:0px;
	left:-70px;
	
	
}
#nav ul a{
	white-space:nowrap; 
}
#nav li:hover ul{ 
	left:0;
}

#nav ul li a {   
    padding: 0;
    text-decoration: none;
    color:#FFF;
}
#nav ul li a:hover {
    position: relative;
    text-decoration: none;
}

.btn
{
	width:90px;
	height:30px;
	background-color:dodgerblue;
	
	margin:10px;
	border-radius: 100px;
	-moz-transition:1s;
	box-shadow:inset 5px 5px 10px black;
	margin-right:5px;
	padding: 3px 0 10px 0;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #a89ba5;
	background:url(design/templatemo_button.png) no-repeat;
	outline: none;
}
.btn:hover
{
	color: #ffffff;
	background:url(design/templatemo_button_hover.png) no-repeat;
	height:30px;
}
.txt
{
	background-color:#CCC;
	text-decoration:none;
}
.fon
{
	font:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	text-transform:capitalize;
	color:#FFF;
	
}
.tab1
{
	margin:auto;
	margin-top:20px;
	margin-bottom:10px;
}
.log2
{
	font-size:36px;
	margin:auto;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:blink;
	color:#CCC;	
}
.log2:hover
{
	font-size:36px;
	margin:auto;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:dodgerblue;	
}
.txt1
{
background-color:#cccccc;
width:200px;
height:40px;
border:solid 2px silver;
border-radius:10px;
box-shadow:inset 3px 3px 10px;
-moz-transition:2s;
color:black;
text-align:center;
}
.txt2
{
	color:#FFF;
	font:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:18px;
	animation-direction:alternate;	
}
.txt1:focus
{
	box-shadow:5px 5px  5px #FFF;
}
.te
{
	margin-left:auto;
	margin-top:20px;
	border-radius:30px;
	border:2px solid #FFF;
	box-shadow:inset 1px 4px 3px 3px #FFF;
}
