body
{
background-color:#66FF00;
}


.txt
{
background-color:#CCCCCC;
width:200px;
height:40px;
border:solid 2px dodgerblue;
border-radius:10px;
box-shadow:inset 3px 3px 10px red;
-moz-transition:2s;
color:black;
}
.txt:focus
{
	box-shadow:5px 5px  5px green;
}
.txt:hover
{
color:#0000FF;
}

.button
{
border-radius:30px 30px 30px 30px;
width:120px;
height:40px;
box-shadow:inset 7px 5px 10px red;
background-color:dodgerblue;
color:white;
border:1px solid black;
margin:10px;
-moz-transition:2s;

}
.button:hover
{
background-color:#FFFF00;
color:black;
width:120px;
height:40px;
}

