@charset "utf-8";
/* CSS Document */
*
{
		padding:0px;
		margin:0px;
}	
.tbl
{
	margin:auto;
 	border:1px solid skyblue;
	color:gray;
	 
		
		
}
.tbl td
{
	padding:10px;	
}
input[type="text"],input[type="password"],select,file
{
	width:200px;
	height:35px;
	border:1px solid skyblue;	
}
textarea
{
	width:200px;
	height:100px;
	border:1px solid skyblue;	
}
.btnreg
{
	width:100px;
	height:40px;
	background-color:violet;
	color:white;
	border:1px solid black;
}
.header
{
	width:100%;
	height:50px;
	background-color:skyblue;
	margin-bottom:20px;
}
.footer
{
	width:100%;
	height:50px;
	background-color:skyblue;
	margin-top:20px;
}
.nav
{
	list-style:none;
	float:right;
	margin-right:20px;	
}
.nav li
{
	display:inline-block;
	margin:10px;	
}
.nav li a
{
	color:white;
	text-decoration:none;	
}
.btn
{
	width:100%;
	height:30px;
	background-color:violet;
	color:white;
	border:1px solid black;
	display:block;
	text-align:center;
	text-decoration:none;
 
}

.catdiv
{
	width:900px;
	min-height:300px;
	border:1px solid black;
	margin:auto;
}
.catdiv div
{
		width:20%;
		height:150px;
		border:1px solid black;
		margin:10px;
		display:inline-block;
		opacity:.5;
		 
}
.catdiv div:hover
{
	opacity:1;
	box-shadow:2px 2px 5px black;	
}
.catdiv div h1
{
	width:100%;
	background-color:skyblue;
	color:white;
	text-align:center;
	font-size:20px;
	text-align:center;
}
.catdiv div img
{
	width:50%;
	height:80px;
	padding-left:25%;
	
}
 .catdiv div a
{
	width:100%;
	height:20px;
	padding-top:5px;
	background-color:skyblue;
	color:white;
	text-align:center;
	font-size:14px;
	text-align:center;
	display:block;
}
.prodiv
{
	margin:auto;
	padding:20px;
	border:1px solid red;	
	margin-bottom:10px;
}
.prodivhead
{	
background-color:#f5f5f5;
color:green;
font-size:40px;

}
.prodiv img
{
	width:150px;
	height:200px;
}