@charset "utf-8";
/* CSS Document */
*
{
		padding:0px;
		margin:0px;
}	
.tbl
{
	margin:auto;
 	border:1px solid skyblue;
	color:gray;
	 
		
		
}
.tbl td
{
	padding:10px;	
}
input[type="text"],input[type="password"],select,file
{
	width:200px;
	height:35px;
	border:1px solid skyblue;	
}
textarea
{
	width:200px;
	height:100px;
	border:1px solid skyblue;	
}
.btnreg
{
	width:100px;
	height:40px;
	background-color:violet;
	color:white;
	border:1px solid black;
}
.header
{
	width:100%;
	height:50px;
	background-color:skyblue;
	margin-bottom:20px;
}
.footer
{
	width:100%;
	height:50px;
	background-color:skyblue;
	margin-top:20px;
}
.nav
{
	list-style:none;
	float:right;
	margin-right:20px;	
}
.nav li
{
	display:inline-block;
	margin:10px;	
}
.nav li a
{
	color:white;
	text-decoration:none;	
}
.btn
{
	width:100%;
	height:30px;
	background-color:violet;
	color:white;
	border:1px solid black;
	display:block;
	text-align:center;
	text-decoration:none;
 
}