@charset "utf-8";
/* CSS Document */

.tbl
{
	margin:auto;
	margin-top:20;
	border:1px solid skyblue;
	color:gray;
		
		
}
.tbl td
{
	padding:10px;	
}
input[type="text"],input[type="password"],select,file
{
	width:200px;
	height:35px;
	border:1px solid skyblue;	
}
textarea
{
	width:200px;
	height:100px;
	border:1px solid skyblue;	
}
input[type="submit"]
{
	width:100px;
	height:40px;
	background-color:violet;
	color:white;
	border:1px solid black;
}