body
{
background-image:url(img/1.JPG);
}
.main
{
	width:1000px;
	height:600px;
	border:1px solid gray;
	margin:auto;
}
.header
{
	width:1000px;
	height:130px;
	background-color:dodgerblue;
}
.content
{
	width:1000px;
	height:440px;
	 
}
.footer
{
	width:1000px;
	height:30px;
	background-color:dodgerblue;
}
.left
{
	width:850px;
	height:440px;
	VERTICAL-align:top;
	
}
.right
{
	width:150px;
	height:440px;
	border-left:1px solid silver;
	vertical-align:top;
}
 
.right td
{
	width:130px;
	height:40px;
	background-color:red;
	color:white;
	padding-left:10px;
	box-shadow:inset 5px 5px 5px white;
	-moz-transition:.5s;
}
.right td:hover
{
	background-color:green;
	height:50px;
	box-shadow:inset 5px 5px 10px #FFFF00;
	
}

.right a
{
	color:white;
	text-decoration:none;
}
.right a:hover
{
text-decoration:underline;
height:55px;
}

.regtbl
{
	margin:auto;
	margin-top:20px;
	border:1px solid silver;
	color:dodgerblue;
	border-radius:5px;
	box-shadow:inset 5px 5px 10px gray;
	
	 
}
.regtbl div
{
height:70px;
width:150px;
--border:1px solid gray;
 float:left;
}
.txt
{
	width:225px;
	height:35px;
	border:silver 1px solid;
	background-color:#f5f5f5;
	color:dodgerblue;
	border-radius:5px;
	box-shadow:inset 3px 3px 10px black;
	-moz-transition:1s;
}

.txt:focus
{
	box-shadow:5px 5px  5px green;
}
.btn
{
	width:120px;
	height:40px;
	background-color:dodgerblue;
	color:white;
	border:1px solid black;
	margin:10px;
	border-radius: 100px;
	-moz-transition:.3s;
	box-shadow:inset 5px 5px 10px black;
}
.btn:hover
{
	background-color:green;
	width:140px;
	--height:50px;
}
.regtbl td
{
	padding:15px;
}
.txt:hover
{
	border:1px solid  green;
}