body
{
	background-color:silver;
	color:red;
	font-size:50px;

}
.tbl
{
	background-color:yellow;
	color:green;
	width:550px;
	height:550px;
	margin:auto;
	border:5px red double;
	padding:50px;
}
.tbl:hover
{
	background-color:orange;
	border:5px solid blue;
	color:white;
}
#t
{
	background-color:blue;
	color:white;
}
#t:hover
{
	background-color:#FF0033;
	color:#0000CC;
}

h1
{
	font-size:20px;
	color:blue;
	width:200px;
	margin:auto;
}
#txt
{
	background-color:#F06;
}
#txt:hover
{
	background-color:#0F0;
}